<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aalto.kotlin.experiment.featureone">

    <application>

        <!--Google MAP API key-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCGDjZ1iYxnOyOm3LJQY7m9S5Nz3BT2FiY" />

        <!-- APP BAR BACK BTN navigation target: android:parentActivityName=".Activity1"-->
        <activity
            android:name=".FeatureOneActivity"
            android:label="FeatureOne Activity">
        </activity>

    </application>
</manifest>