<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aalto.kotlin.experiment.featureone">

    <application>


        <!-- APP BAR BACK BTN navigation target: android:parentActivityName=".Activity1"-->
        <activity
            android:name=".FeatureOneActivity"
            android:label="FeatureOne Activity">
        </activity>

    </application>
</manifest>